.reviews-slider-block{

	&, * {
		box-sizing: border-box;
	}
	
	h2 {
		font-size: xx-large;
		font-weight: normal;
		padding: 20px 0;
	}

	.swiper{
		padding-bottom: 60px;
	}

	.swiper-navigation{

		position: absolute;
		bottom: 16px;
		left: 63%;
		display: flex;
		font-size: xx-large;
		font-weight: lighter;
		justify-content: center;
		align-items: center;
		flex-direction: column;


		.swiper-button-prev,
		.swiper-button-next {

			width: max-content;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
			position: relative;
			bottom: 0;
			padding: 0;
			margin: 0;
			color: black;
			line-height: 20px;
			display: flex;
			align-items: center;
			height: 20px;

			&::after{
				display: none; /* Hides default Swiper arrows */
			}
			
		}

		.swiper-button-prev{
			left: calc( -100% );
		}

	}
}