.reviews-slider-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	& > *{
		flex: 1;
	}

	.review-image {
		padding-right: 5%;
		max-width: 45%;
		width: auto;
		height: 100%;
		-o-object-fit: contain;
		object-fit: contain;
	}

	.review-details {
		height: 100%;
		display: flex;
		flex-direction: column;
	
		.review-text {
			height: 100%;
			overflow: auto;
		}

		.review-footer {
			display: flex;
			padding: 10px 0;
	
			.review-link {
				font-size: medium;
				color: var(--text-color);
			}
		}
	}
}